#section01 { background: url(warHelperBackgrounds/ParticipatoryDesign.jpg) center center / cover no-repeat;}
#section02 { background: url(warHelperBackgrounds/WarHelper1.1.png)  center right / contain no-repeat;}
#section03 { background: url(warHelperBackgrounds/WarHelper1.2.png)  center right / contain no-repeat;}
#section04 { background: url(warHelperBackgrounds/WarHelper2.png)  center right / contain no-repeat;}
#section05 { background: url(warHelperBackgrounds/WarHelper3.png)  center right / contain no-repeat;}
#section06 { background: url(warHelperBackgrounds/WarHelper4.png)  center right / contain no-repeat;}
#section07 { background: url(warHelperBackgrounds/WarHelper5.png)  center right / contain no-repeat;}
#section08 { background: url(warHelperBackgrounds/WarHelper6.png)  center right / contain no-repeat;}
#section09 { background: url(warHelperBackgrounds/WarHelper7.1.png)  center right / contain no-repeat;}
#section10 { background: url(warHelperBackgrounds/WarHelper7.2.png)  center right / contain no-repeat;}
